USE [master]
GO
/****** Object:  Database [BookShop]    Script Date: 5/9/2026 12:11:42 AM ******/
CREATE DATABASE [BookShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BookShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\BookShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BookShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\BookShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookShop]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 5/9/2026 12:11:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaCTHD] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [nvarchar](50) NULL,
	[MaSach] [int] NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](10, 2) NULL,
	[ThanhTien] [decimal](10, 2) NULL,
 CONSTRAINT [PK__ChiTietH__1E4FA7717A87F21E] PRIMARY KEY CLUSTERED 
(
	[MaCTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuNhap]    Script Date: 5/9/2026 12:11:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhap](
	[MaCTPN] [int] IDENTITY(1,1) NOT NULL,
	[MaPN] [nvarchar](50) NULL,
	[MaSach] [int] NULL,
	[SoLuong] [int] NULL,
	[DonGiaNhap] [decimal](10, 2) NULL,
	[ThanhTien] [decimal](10, 2) NULL,
 CONSTRAINT [PK__ChiTietP__1E4E607585F18B6E] PRIMARY KEY CLUSTERED 
(
	[MaCTPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 5/9/2026 12:11:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [nvarchar](50) NOT NULL,
	[MaND] [int] NULL,
	[TenKhachHang] [nvarchar](100) NULL,
	[NgayLap] [datetime] NULL,
	[TongTien] [decimal](10, 2) NULL,
	[GiamGia] [decimal](10, 2) NULL,
	[ThanhTien] [decimal](10, 2) NULL,
 CONSTRAINT [PK__HoaDon__2725A6E0D7547242] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kho]    Script Date: 5/9/2026 12:11:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kho](
	[MaSach] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[TenSach] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 5/9/2026 12:11:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[MaND] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[NgaySinh] [date] NULL,
	[SoDienThoai] [nvarchar](15) NULL,
	[VaiTro] [nvarchar](20) NULL,
	[TrangThai] [nvarchar](20) NULL,
	[MatKhau] [varbinary](max) NULL,
 CONSTRAINT [PK__NguoiDun__2725D7241531D1FA] PRIMARY KEY CLUSTERED 
(
	[MaND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 5/9/2026 12:11:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [int] IDENTITY(1,1) NOT NULL,
	[TenNCC] [nvarchar](150) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[SoDienThoai] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhatKyHoatDong]    Script Date: 5/9/2026 12:11:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhatKyHoatDong](
	[MaLog] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](100) NULL,
	[HanhDong] [nvarchar](100) NULL,
	[ChiTiet] [nvarchar](max) NULL,
	[ThoiGian] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaXuatBan]    Script Date: 5/9/2026 12:11:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaXuatBan](
	[MaNXB] [int] IDENTITY(1,1) NOT NULL,
	[TenNXB] [nvarchar](150) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[SoDienThoai] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 5/9/2026 12:11:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[MaPN] [nvarchar](50) NOT NULL,
	[NgayNhap] [datetime] NULL,
	[MaNCC] [int] NULL,
	[MaND] [int] NULL,
	[TongTien] [decimal](10, 2) NULL,
	[GhiChu] [nvarchar](255) NULL,
 CONSTRAINT [PK__PhieuNha__2725E7F0861A1E2F] PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 5/9/2026 12:11:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[MaSach] [int] IDENTITY(1,1) NOT NULL,
	[TenSach] [nvarchar](200) NULL,
	[MaTG] [int] NULL,
	[MaTL] [int] NULL,
	[MaNXB] [int] NULL,
	[NamXuatBan] [int] NULL,
	[GiaNhap] [decimal](10, 2) NULL,
	[GiaBan] [decimal](10, 2) NULL,
	[SoLuongTon] [int] NULL,
	[MoTa] [nvarchar](max) NULL,
	[HinhAnh] [nvarchar](255) NULL,
 CONSTRAINT [PK__Sach__B235742D4F80AD12] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TacGia]    Script Date: 5/9/2026 12:11:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TacGia](
	[MaTG] [int] IDENTITY(1,1) NOT NULL,
	[TenTG] [nvarchar](100) NULL,
	[QueQuan] [nvarchar](100) NULL,
	[NamSinh] [date] NULL,
	[NamMat] [date] NULL,
 CONSTRAINT [PK__TacGia__27250074F7EDC4E0] PRIMARY KEY CLUSTERED 
(
	[MaTG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 5/9/2026 12:11:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[MaTL] [int] IDENTITY(1,1) NOT NULL,
	[TenTL] [nvarchar](100) NULL,
	[MoTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] ON 

INSERT [dbo].[ChiTietHoaDon] ([MaCTHD], [MaHD], [MaSach], [SoLuong], [DonGia], [ThanhTien]) VALUES (19, N'HD007', 5, 5, CAST(100000.00 AS Decimal(10, 2)), CAST(500000.00 AS Decimal(10, 2)))
INSERT [dbo].[ChiTietHoaDon] ([MaCTHD], [MaHD], [MaSach], [SoLuong], [DonGia], [ThanhTien]) VALUES (20, N'HD008', 4, 10, CAST(115000.00 AS Decimal(10, 2)), CAST(1150000.00 AS Decimal(10, 2)))
INSERT [dbo].[ChiTietHoaDon] ([MaCTHD], [MaHD], [MaSach], [SoLuong], [DonGia], [ThanhTien]) VALUES (21, N'HD009', 6, 10, CAST(300000.00 AS Decimal(10, 2)), CAST(3000000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietPhieuNhap] ON 

INSERT [dbo].[ChiTietPhieuNhap] ([MaCTPN], [MaPN], [MaSach], [SoLuong], [DonGiaNhap], [ThanhTien]) VALUES (3, N'PN001', 4, 5, CAST(120000.00 AS Decimal(10, 2)), CAST(600000.00 AS Decimal(10, 2)))
INSERT [dbo].[ChiTietPhieuNhap] ([MaCTPN], [MaPN], [MaSach], [SoLuong], [DonGiaNhap], [ThanhTien]) VALUES (4, N'PN002', 2, 15, CAST(90000.00 AS Decimal(10, 2)), CAST(1350000.00 AS Decimal(10, 2)))
INSERT [dbo].[ChiTietPhieuNhap] ([MaCTPN], [MaPN], [MaSach], [SoLuong], [DonGiaNhap], [ThanhTien]) VALUES (5, N'PN003', 5, 10, CAST(105000.00 AS Decimal(10, 2)), CAST(1050000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[ChiTietPhieuNhap] OFF
GO
INSERT [dbo].[HoaDon] ([MaHD], [MaND], [TenKhachHang], [NgayLap], [TongTien], [GiamGia], [ThanhTien]) VALUES (N'HD007', 8, N'Hoàng Văn Trường', CAST(N'2026-04-20T16:01:57.303' AS DateTime), CAST(500000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(500000.00 AS Decimal(10, 2)))
INSERT [dbo].[HoaDon] ([MaHD], [MaND], [TenKhachHang], [NgayLap], [TongTien], [GiamGia], [ThanhTien]) VALUES (N'HD008', 2, N'Đào Ngọc Thịnh', CAST(N'2026-04-13T14:55:19.000' AS DateTime), CAST(1150000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(1150000.00 AS Decimal(10, 2)))
INSERT [dbo].[HoaDon] ([MaHD], [MaND], [TenKhachHang], [NgayLap], [TongTien], [GiamGia], [ThanhTien]) VALUES (N'HD009', 5, N'Nguyễn Minh Đức', CAST(N'2026-02-11T22:48:31.000' AS DateTime), CAST(3000000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(3000000.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[Kho] ([MaSach], [SoLuong], [TenSach]) VALUES (1, 10, NULL)
GO
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([MaND], [TenDangNhap], [HoTen], [NgaySinh], [SoDienThoai], [VaiTro], [TrangThai], [MatKhau]) VALUES (1, N'admin', N'Đào Ngọc Thịnh', CAST(N'2005-09-13' AS Date), N'0362352378', N'Admin', N'Còn làm', 0xC4CA4238A0B923820DCC509A6F75849B)
INSERT [dbo].[NguoiDung] ([MaND], [TenDangNhap], [HoTen], [NgaySinh], [SoDienThoai], [VaiTro], [TrangThai], [MatKhau]) VALUES (2, N'staff', N'Quách Thị Tố Tâm', CAST(N'2005-01-13' AS Date), N'0344813089', N'Staff', N'Còn làm', 0xC4CA4238A0B923820DCC509A6F75849B)
INSERT [dbo].[NguoiDung] ([MaND], [TenDangNhap], [HoTen], [NgaySinh], [SoDienThoai], [VaiTro], [TrangThai], [MatKhau]) VALUES (5, N'staff2', N'Nguyễn Quang Toàn', CAST(N'2005-10-04' AS Date), N'0344813231', N'Staff', N'Còn làm', 0xC4CA4238A0B923820DCC509A6F75849B)
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
GO
SET IDENTITY_INSERT [dbo].[NhaCungCap] ON 

INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SoDienThoai], [Email]) VALUES (1, N'Công ty sách A', N'', N'', N'')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SoDienThoai], [Email]) VALUES (2, N'Công ty sách Bỏ chạy', N'Ả rập', N'', N'')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SoDienThoai], [Email]) VALUES (3, N'Công ty phát hành sách FAHASA', N'Hà Nội', N'', N'')
SET IDENTITY_INSERT [dbo].[NhaCungCap] OFF
GO
SET IDENTITY_INSERT [dbo].[NhatKyHoatDong] ON 

INSERT [dbo].[NhatKyHoatDong] ([MaLog], [TenDangNhap], [HanhDong], [ChiTiet], [ThoiGian]) VALUES (1, N'admin', N'Tạo Hóa Đơn', N'Lập thành công hóa đơn HD010 - Tổng tiền: 575,000 VNĐ', CAST(N'2026-04-23T11:57:44.523' AS DateTime))
INSERT [dbo].[NhatKyHoatDong] ([MaLog], [TenDangNhap], [HanhDong], [ChiTiet], [ThoiGian]) VALUES (2, N'admin', N'Cập nhật Tác giả', N'Đã chốt danh sách Tác Giả vào Database (Thêm: 1, Sửa: 0, Xóa: 0)', CAST(N'2026-04-23T12:50:51.230' AS DateTime))
INSERT [dbo].[NhatKyHoatDong] ([MaLog], [TenDangNhap], [HanhDong], [ChiTiet], [ThoiGian]) VALUES (3, N'admin', N'Cập nhật Sách', N'Đã lưu thay đổi danh sách Sách vào hệ thống', CAST(N'2026-04-23T12:54:25.417' AS DateTime))
SET IDENTITY_INSERT [dbo].[NhatKyHoatDong] OFF
GO
SET IDENTITY_INSERT [dbo].[NhaXuatBan] ON 

INSERT [dbo].[NhaXuatBan] ([MaNXB], [TenNXB], [DiaChi], [SoDienThoai], [Email]) VALUES (1, N'NXB Trẻ', N'Hà Nội', N'', N'')
INSERT [dbo].[NhaXuatBan] ([MaNXB], [TenNXB], [DiaChi], [SoDienThoai], [Email]) VALUES (2, N'NXB Kim Đồng', N'Hà Nội', N'', N'')
INSERT [dbo].[NhaXuatBan] ([MaNXB], [TenNXB], [DiaChi], [SoDienThoai], [Email]) VALUES (3, N'NXB Tổng Hợp', N'TP Hồ Chí Minh', N'', N'')
SET IDENTITY_INSERT [dbo].[NhaXuatBan] OFF
GO
INSERT [dbo].[PhieuNhap] ([MaPN], [NgayNhap], [MaNCC], [MaND], [TongTien], [GhiChu]) VALUES (N'PN001', CAST(N'2026-04-14T23:50:32.430' AS DateTime), 3, 2, CAST(600000.00 AS Decimal(10, 2)), N'')
INSERT [dbo].[PhieuNhap] ([MaPN], [NgayNhap], [MaNCC], [MaND], [TongTien], [GhiChu]) VALUES (N'PN002', CAST(N'2026-04-15T15:02:00.823' AS DateTime), 2, 1, CAST(1350000.00 AS Decimal(10, 2)), N'')
INSERT [dbo].[PhieuNhap] ([MaPN], [NgayNhap], [MaNCC], [MaND], [TongTien], [GhiChu]) VALUES (N'PN003', CAST(N'2026-04-19T14:48:17.523' AS DateTime), 3, 2, CAST(1050000.00 AS Decimal(10, 2)), N'')
GO
SET IDENTITY_INSERT [dbo].[Sach] ON 

INSERT [dbo].[Sach] ([MaSach], [TenSach], [MaTG], [MaTL], [MaNXB], [NamXuatBan], [GiaNhap], [GiaBan], [SoLuongTon], [MoTa], [HinhAnh]) VALUES (1, N'Mắt Biếc', 2, 1, 1, NULL, CAST(50000.00 AS Decimal(10, 2)), CAST(80000.00 AS Decimal(10, 2)), 10, N'', N'33cabf45-4a8b-42a7-ad7a-2d3f88f09250.jpg')
INSERT [dbo].[Sach] ([MaSach], [TenSach], [MaTG], [MaTL], [MaNXB], [NamXuatBan], [GiaNhap], [GiaBan], [SoLuongTon], [MoTa], [HinhAnh]) VALUES (2, N'7 Viên Ngọc Rồng', 3, 1, 2, NULL, CAST(100000.00 AS Decimal(10, 2)), CAST(110000.00 AS Decimal(10, 2)), 40, N'', N'639135136162623394.png')
INSERT [dbo].[Sach] ([MaSach], [TenSach], [MaTG], [MaTL], [MaNXB], [NamXuatBan], [GiaNhap], [GiaBan], [SoLuongTon], [MoTa], [HinhAnh]) VALUES (3, N'Harry Potter', 1, 1, 1, NULL, CAST(220000.00 AS Decimal(10, 2)), CAST(250000.00 AS Decimal(10, 2)), 10, N'', N'639135147915988244.jpg')
SET IDENTITY_INSERT [dbo].[Sach] OFF
GO
SET IDENTITY_INSERT [dbo].[TacGia] ON 

INSERT [dbo].[TacGia] ([MaTG], [TenTG], [QueQuan], [NamSinh], [NamMat]) VALUES (1, N'J.K Rowling', N'England', CAST(N'1965-07-31' AS Date), NULL)
INSERT [dbo].[TacGia] ([MaTG], [TenTG], [QueQuan], [NamSinh], [NamMat]) VALUES (2, N'Nguyễn Nhật Ánh', N'Quảng Ninh', CAST(N'1955-05-06' AS Date), NULL)
INSERT [dbo].[TacGia] ([MaTG], [TenTG], [QueQuan], [NamSinh], [NamMat]) VALUES (3, N'Akira Toriyama', N'Nhật Bản', CAST(N'1955-04-05' AS Date), CAST(N'2024-03-01' AS Date))
SET IDENTITY_INSERT [dbo].[TacGia] OFF
GO
SET IDENTITY_INSERT [dbo].[TheLoai] ON 

INSERT [dbo].[TheLoai] ([MaTL], [TenTL], [MoTa]) VALUES (1, N'Tiểu thuyết', NULL)
INSERT [dbo].[TheLoai] ([MaTL], [TenTL], [MoTa]) VALUES (2, N'Khoa học', NULL)
INSERT [dbo].[TheLoai] ([MaTL], [TenTL], [MoTa]) VALUES (3, N'Ngôn tình - Lãng mạn', N'')
SET IDENTITY_INSERT [dbo].[TheLoai] OFF
GO
/****** Object:  Index [IDX_HoaDon_Ngay]    Script Date: 5/9/2026 12:11:43 AM ******/
CREATE NONCLUSTERED INDEX [IDX_HoaDon_Ngay] ON [dbo].[HoaDon]
(
	[NgayLap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NguoiDun__55F68FC070CC702F]    Script Date: 5/9/2026 12:11:43 AM ******/
ALTER TABLE [dbo].[NguoiDung] ADD  CONSTRAINT [UQ__NguoiDun__55F68FC070CC702F] UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_Sach_Ten]    Script Date: 5/9/2026 12:11:43 AM ******/
CREATE NONCLUSTERED INDEX [IDX_Sach_Ten] ON [dbo].[Sach]
(
	[TenSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HoaDon] ADD  CONSTRAINT [DF__HoaDon__NgayLap__45F365D3]  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[HoaDon] ADD  CONSTRAINT [DF__HoaDon__GiamGia__46E78A0C]  DEFAULT ((0)) FOR [GiamGia]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  CONSTRAINT [DF_TrangThai]  DEFAULT (N'Còn làm') FOR [TrangThai]
GO
ALTER TABLE [dbo].[NhatKyHoatDong] ADD  DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  CONSTRAINT [DF__PhieuNhap__NgayN__4BAC3F29]  DEFAULT (getdate()) FOR [NgayNhap]
GO
ALTER TABLE [dbo].[Sach] ADD  CONSTRAINT [DF__Sach__SoLuongTon__4316F928]  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HD] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_CTHD_HD]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_CTHD_Sach]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_PN] FOREIGN KEY([MaPN])
REFERENCES [dbo].[PhieuNhap] ([MaPN])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] CHECK CONSTRAINT [FK_CTPN_PN]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] CHECK CONSTRAINT [FK_CTPN_Sach]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_ND] FOREIGN KEY([MaND])
REFERENCES [dbo].[NguoiDung] ([MaND])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_ND]
GO
ALTER TABLE [dbo].[Kho]  WITH CHECK ADD  CONSTRAINT [FK_Kho_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[Kho] CHECK CONSTRAINT [FK_Kho_Sach]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PN_NCC] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PN_NCC]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PN_ND] FOREIGN KEY([MaND])
REFERENCES [dbo].[NguoiDung] ([MaND])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PN_ND]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_NXB] FOREIGN KEY([MaNXB])
REFERENCES [dbo].[NhaXuatBan] ([MaNXB])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_NXB]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_TacGia] FOREIGN KEY([MaTG])
REFERENCES [dbo].[TacGia] ([MaTG])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_TacGia]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_TheLoai] FOREIGN KEY([MaTL])
REFERENCES [dbo].[TheLoai] ([MaTL])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_TheLoai]
GO
USE [master]
GO
